<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST">
          {% csrf_token %}
          <select name="food_consumed" id="food_consumed">
              {% for food in foods %}
              <option value="{{food.name}}">{{food.name}}</option>
              {% endfor %}
          </select>
        <button type="submit">Add</button>
    </form>
    {% for c in consumed_food %}
        {{c.food_consumed.name}} --> {{c.food_consumed.carbs}} --> {{c.food_consumed.protein}} --> {{c.food_consumed.fats}} --> {{c.food_consumed.calories}} </br>
    {% endfor %}


</body>
</html>