{% extends 'food/base.html' %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
<!-- Rendering the context in html -->
  {% block body %}
  {% for item in item_list %}
   <div class="row">
       <div class="col-md-3 offset-md-2">
           <img class="card" height="150px" src="{{ item.item_image }}" />
       </div>
       <div class="col-md-4">
           <h3>{{ item.item_name }}</h3>
           <h5>{{ item.item_desc }}</h5>
           <h6>{{ item.item_price }} FCFA</h6>
       </div>
       <div class="col-md-2">
           <a href="{% url 'food:details' item.id %}" class="btn btn-info">Details</a>
       </div>

   </div>



  {% endfor %}
  {% endblock %}
</body>
   <!--  <ul>
         <li>
             <a href="{% url 'food:id' item.id %}">  {{ item.id }} -- {{ item.item_name }} </a>
         </li>
     </ul> -->

</html>


